<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--    header-->
<div th:replace="html/AdminView/common/head :: head"></div>

<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

<body>

    <!-- HEADER -->
    <!--    header-->
    <div th:replace="html/AdminView/common/head :: header"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- NAVIGATION -->
            <div th:replace="html/AdminView/common/head :: nav"></div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                <div class="container-fluid">
                    <form class="form-inline" action="" method="get">
                        <div class="d-flex flex-row justify-content-between mt-4">
                            <div class="d-flex flex-row">
                                <input type="hidden" id="page" name="page" class="form-control">
                                <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Search" value="" style="margin-right: 5px;">
                                <button type="submit" id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary">Seach</button>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary mb-1" href="/category/add" role="button">Add
                  New</a>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  th:each="category : ${list}" th:object="${category}">
                                    <th th:text="*{id}" scope="row">

                                    </th>
                                    <td th:text="*{name}">

                                    </td >
                                    <td>
                                        <a class="btn btn-primary" th:href="@{/category/edit/{id}(id=*{id})}" role="button">Edit</a>
                                        <a class="btn btn-danger" th:href="@{/category/delete/{id}(id=*{id})}" onclick="return confirm('Bạn có muốn xóa ?')" role="button">Delete</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- Paging -->
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <div id="paging"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="${base}/js/jquery.simplePagination.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="${base}/js/dashboard.js"></script>

    <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
    </script>
    <script src="${base}/jsdashboard.js"></script>


    <script type="text/javascript">
        // $( document ).ready(function() {
        // 	$("#categoryId").val(${searchModel.categoryId});
        // 	$("#paging").pagination({
        // 		currentPage: ${CategoryWithPaging.currentPage},
        //         items: ${CategoryWithPaging.totalItems},
        //         itemsOnPage: 4,
        //         cssStyle: 'light-theme',
        //         onPageClick: function(pageNumber, event) {
        //         	$('#page').val(pageNumber);
        //         	$('#btnSearch').trigger('click');
        // 		},
        //     });
        // });
    </script>
    <!-- <%--  <script type="text/javascript" src="${base}/js/jquery.js"></script> --%> -->
</body>

</html>