<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>Trang chủ</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/cart.css}" >
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="icon" href="./image/Free_Sample_By_Wix__1_-removebg-preview.png" type="image/icon type">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<!-- Common -->
	<div class="row header " style="margin-left: 0px !important;width: 105% !important">
		<div th:replace="html/CustomerView/common::header1"></div>
		<div th:replace="html/CustomerView/common::header2"></div>
		<div th:replace="html/CustomerView/common::nav"></div>
	</div>


	<div style="max-width: 1920px; margin-top: 200px;" class="container">
	<form action="/cart/checkout" method="post">
		<div style="margin-left: 300px;" class="card">
			<div  class="row">
				<div class="col-md-7 cart">
					<div class="title">
						<div class="row">
							<div class="col">
								<h4>
									<b>Giỏ hàng</b>
								</h4>
							</div>
							<div class="col align-self-center text-right text-muted" th:text=" ${session.totalItems} + 'ITEMS '"></div>
						</div>
					</div>
<!--					<c:forEach items="${cart.cartItems }" var="ci">-->
						<div class="row border-top border-bottom">
							<div th:each="ci, rowIndex : ${session.cart.cartItems}" class="row main align-items-center">
								<div class="col-2">
									<img class="img-fluid" th:src="@{'/upload/'+${ci.productAvatar}}">
								</div>
								<div class="col">
									<div class="row text-muted" th:text="${ci.productName}"></div>
									<div th:text="'Size: ' + ${ci.sizeName}" class="row"></div>

								</div>
								<div class="col">
									<a  style="cursor: pointer " href="/cart/view" th:onclick="'javascript:minusQuanlityCart(\'' + @{/ajax/minusQuantityCart} + '\', ' + ${ci.productId} + ')'"  >-</a>
									<span id="quanlity_${ci.productId}"  class="border" th:text="${ci.quanlity }"></span>
									<a  style="cursor: pointer " href="/cart/view" th:onclick="'javascript:plusQuanlityCart(\'' + @{/ajax/plusQuantityCart} + '\', ' + ${ci.productId} + ')'" >+</a>
								</div>



								<div th:text="${#numbers.formatDecimal(ci.priceUnit, 0, 'COMMA', 0, 'POINT')} +'đ'" class="col">
									<!-- &euro; 44.00 <span class="close">&#10005;</span> -->
								</div>
								<div class="col">
									<a style="margin-top: 0px" type="button" th:href="@{/cart/delete/{productId}(productId=${ci.productId})}" class="btn btn-danger" >Xóa</a>
<!--									@{/product/delete/{productId}(productId=*{id})}-->
								</div>
								<div class="row ml-5" th:if="${session.TB!=null}" th:text="${session.TB}" style="color: red" role="alert">

								</div>
							</div>
						</div>
<!--					</c:forEach>-->
				
					<div
							class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Customer
							Info</div>
<!--					<c:if test="${!isLogined }">-->
						<div th:if="${!isLogined}" class="p-4">
							<div class="form-group">
								<label for="customerPhone">Họ tên khách hàng</label>
								<input required type="tel" class="form-control" id="customerFullName" th:name="customerFullName" placeholder="Full name">
							</div>
							<div class="form-group">
								<label for="customerEmail">Email</label>
								<input required type="email" class="form-control" id="customerEmail" th:name="customerEmail" placeholder="Enter email">
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<div class="form-group">
								<label for="customerPhone">Số điện thoại</label>
								<input required type="tel" class="form-control" id="customerPhone" th:name="customerPhone" placeholder="Phone">
							</div>
							<div class="form-group">
								<label for="customerAddress">Địa chỉ</label>
								<input required type="text" class="form-control" id="customerAddress" th:name="customerAddress" placeholder="Address">
							</div>
						</div>

						<div th:if="${isLogined }" class="p-4">
							<div class="form-group">
								<label for="customerPhone">Họ tên khách hàng</label>
								<input required type="tel" class="form-control" id="customerFullName" name="customerFullName" th:value="${userLogined.customerName }" >
							</div>
							<div class="form-group">
								<label for="customerEmail">Email</label>
								<input required type="email" class="form-control" id="customerEmail" name="customerEmail" th:value="${userLogined.email }" >
								<small  id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<div class="form-group">
								<label for="customerPhone">Số điện thoại</label>
								<input required type="tel" class="form-control" id="customerPhone" name="customerPhone" th:value="${userLogined.phone }" >
							</div>
							<div class="form-group">
								<label for="customerAddress">Địa chỉ</label>
								<input required type="text" class="form-control" id="customerAddress" name="customerAddress" th:value="${userLogined.address }">
							</div>
						</div>
						<!-- <button type="submit" class="btn">CHECKOUT</button> -->
					
					<div class="back-to-shop">
						<a th:href="@{/home}">&leftarrow;</a><span class="text-muted">Quay lại trang chủ</span>
					</div>
				</div>
				<div class="col-md-5 summary">
					<div>
						<h5>
							<b>Summary</b>
						</h5>
					</div>
					<hr>
					<div class="row">
						<div class="col" style="padding-left: 0;" th:text="'ITEMS ' + ${session.totalItems}"></div>
						
					</div>
					<form>
						<p>SHIPPING</p>
						<select>
							<option class="text-muted">Standard-Delivery- &euro;5.00</option>
						</select>
						<p>GIVE CODE</p>
						<input id="code" placeholder="Enter your code">
					</form>
					<div class="row" style="border-top: 1px solid rgba(0, 0, 0, .1); padding: 2vh 0;">
						<div class="col">Tổng tiền</div>
						<div th:text="${#numbers.formatDecimal(session.cart.totalPrice, 0, 'COMMA', 0, 'POINT')} +'đ'" class="col text-right">

						</div>
					</div>
					<div class="row">Phương thức thanh toán</div>
					<div class="row" style="border-top: 1px solid rgba(0, 0, 0, .1); padding: 2vh 0;">

						<div style="justify-content: space-between;">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment" checked value="0">
								<label class="form-check-label" ><i class="fa-light fa-box-check fa-lg"></i>COD</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="payment"  value="1">
								<label class="form-check-label" ><i class="fa-brands fa-cc-paypal fa-lg"></i>Paypal</label>
								<span th:text="'('+${#numbers.formatDecimal(session.cart.totalPrice/23000, 2, 'COMMA', 2, 'POINT')} +'USD'+')'" name="price"></span>
							</div>

						</div>
					</div>
					<input th:value="${session.cart.totalPrice/23000}" name="price" hidden>
					<button type="submit" class="btn btn-success">Thanh toán</button>
				</div>
				
			</div>
			
		</div>
	</form>

		<!-- Footer -->
		<footer style="background-color: #333333 !important;"
			class="text-center text-lg-start bg-light text-muted">
			<!-- Section: Social media -->
			<section
				class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
				<!-- Left -->
				<div class="me-5 d-none d-lg-block">
					<span>Get connected with us on social networks:</span>
				</div>
				<!-- Left -->

				<!-- Right -->
				<div>
					<a href="" class="me-4 text-reset"> <i
						class="fab fa-facebook-f"></i>
					</a> <a href="" class="me-4 text-reset"> <i class="fab fa-google"></i>
					</a> <a href="" class="me-4 text-reset"> <i
						class="fab fa-instagram"></i>
					</a>

				</div>
				<!-- Right -->
			</section>
			<!-- Section: Social media -->

			<!-- Section: Links  -->
			<section class="">
				<div class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div class="row mt-3">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="text-uppercase fw-bold mb-4">

								<i class="fas fa-gem me-3"></i>Phương Nam Sport
							</h6>
							<p>Rất hân hạnh được đem đến cho quý khách những sản phẩm tốt
								nhất</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">Products</h6>
							<p>
								<a href="#!" class="text-reset">Angular</a>
							</p>
							<p>
								<a href="#!" class="text-reset">React</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Vue</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Laravel</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
							<p>
								<a href="#!" class="text-reset">Pricing</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Settings</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Orders</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Help</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
							<p>
								<i class="fas fa-home me-3"></i> tòa HH2B Linh Đàm,quận Hoàng
								Mai, Hà Nội
							</p>
							<p>
								<i class="fas fa-envelope me-3"></i> nguyennam210601@gmail.com
							<p>
								<i class="fas fa-phone me-3"></i>0358307767
							</p>
							</p>

						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
			<!-- Section: Links  -->

			<!-- Copyright -->
			<!-- Copyright -->
		</footer>
		<!-- Footer -->

	</div>


</body>

<jsp:include page="/WEB-INF/view/khachhang/layout/js.jsp"></jsp:include>

<script type="text/javascript">
	/* $("#plus").on("click", function(e){
		var soluong = $(this).parent().find('#quanlity').val();
		soluong = parseInt(soluong) + 1;
		if(soluong >= 1)
			{
				$(this).parent().find('#quanlity').html('#quanlity').val(soluong);
			}
	}) */
	
	
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script type="text/javascript" src="path_to/jquery.js"></script>
<script th:src="@{/js/customer_scripts.js}"> </script>


</html>